<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Introduction to Sass</title>
		<link rel="stylesheet" href="{{assets}}/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="css/styles.min.css">

		<!-- For Highlighting -->
		<link rel="stylesheet" href="{{assets}}/reveal.js/lib/css/zenburn.css">

	</head>
	<body>
		<h1>Introduction to Sass</h1>
		<div class="reveal">
			<div class="slides">
				{{>01_intro}}
				{{>02_compilers}}
				{{>03_variables}}
				{{>04_partials}}
				{{>05_imports}}
				{{>06_inheritance}}
				{{>07_selectors}}
				{{>08_mixins}}
				{{>97_scsslint}}
				{{>98_links}}
				{{>99_outro}}
			</div>
		</div>

		<script src="{{assets}}/reveal.js/lib/js/head.min.js"></script>
		<script src="{{assets}}/reveal.js/js/reveal.min.js"></script>
		
		<script>
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

        		margin: 0.0,

				// theme: 'simple',
				transition:  'none',
        		backgroundTransition: 'none',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{assets}}/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); }},
					{ src: '{{assets}}/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});
		</script>
	</body>
</html>
